
<div *ngIf="job">
    <h2><span jhiTranslate="ourcloudApp.job.detail.title">Job</span> {{job.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ourcloudApp.job.nameFile">Name File</span></dt>
        <dd>
            <div *ngIf="job.nameFile">
                <a (click)="openFile(job.nameFileContentType, job.nameFile)" jhiTranslate="entity.action.open">open</a>
                {{job.nameFileContentType}}, {{byteSize(job.nameFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="ourcloudApp.job.name">Name</span></dt>
        <dd>
            <span>{{job.name}}</span>
        </dd>
        <dt><span jhiTranslate="ourcloudApp.job.userToJob">User To Job</span></dt>
        <dd>
            {{job.userToJob?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job/'+ job.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
