
<div class="container">

    <div class="row"><h1 class="text-center">OURCLOUD</h1>
        <p class="text-center">Storage Solution</p>
    </div>

    <div id="quicknav">
        <ul>
            <li><a href="#red" class="btn btn-danger">ABOUT US</a></li>
            <li><a href="#green" class="btn btn-success">FAQ</a></li>

        </ul>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default coupon">

                <div class="panel-body">
                    <img src="https://qph.fs.quoracdn.net/main-qimg-e10e233297fe095b6b36970537cc38bf" class="coupon-img img-rounded">
                    <div class="col-md-9">
                        <ul class="items">
                            <li>STORE </li>
                            <li>SECURE</li>
                            <li>CONSULTE</li>
                            <li>HighAvaible</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="offer">
                            <span class="usd"><sup></sup></span>
                            <span class="number">30</span>
                            <span class="cents"><sup>GO</sup></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="disclosure">OurCloud is a cloud storage service that allow you to store files until 30 Go</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="coupon-code">

                        <span class="print">
                        <a href="#" class="btn btn-link">  Try  it !!</a>
                    </span>
                    </div>
                    <div class="exp">Version 1.0</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-4">
            <h1 class="display-4" jhiTranslate="home.title">Share Media on your protected space </h1>
            <p class="lead" jhiTranslate="home.subtitle">OurCloud Discover</p>

            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div>
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>

            <p jhiTranslate="home.question">
                FAQ :
            </p>

            <ul>
                <li><a href="#" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="#" target="_blank" rel="noopener" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="#" target="_blank" rel="noopener" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
                <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
            </p>
        </div>
    </div>

<div class="row">
    <div class="col-md-3">



    </div>

</div>
</div>
